.element__delete-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    padding: 0;
    cursor: pointer;
    width: 18px;
    height: 19px;
    transition: opacity 0.2s ease;
    background: transparent url("../../../images/icons/delete-icon.svg") no-repeat center center;
}

.element__delete-button:hover {
    opacity: 0.6;
}