.confirmation__confirm-button {
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid transparent;
    padding: 14px 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    transition: opacity 0.2s ease;
}

.confirmation__confirm-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .confirmation__confirm-button {
        font-size: 14px;
        line-height: 17px;
    }
}