.popup__container {
    position: relative;
    width: max-content;
    height: max-content;
    /* max-width: 75vw; */
    /* max-height: 75vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}