.profile {
    color: var(--white-color);
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 767px)  {
  .profile {
      flex-direction: column;
      align-items: center;
      padding-top: 42px;
      padding-bottom: 36px;
  }
}