.header {
    padding-top: 45px;
    padding-bottom: 41px;
    position: relative;
}

.header::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    bottom: 0;
}

@media screen and (max-width: 767px)  {
    .header {
        padding-top: 28px;
        padding-bottom: 32px;
    }

    .header::after {
        left: -19px;
        width: calc(100% + 38px);
    }
}
