.profile__subtitle {
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    order: 3;
    grid-column: 1 / 2;
}

@media screen and (max-width: 767px)  {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}