.profile__add-button {
    margin-left: auto;
    border: 2px solid var(--white-color);
    background: var(--black-color) url("../../../images/icons/plus-icon.svg") no-repeat center center;
    height: 50px;
    min-width: 150px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px)  {
    .profile__add-button {
        min-width: unset;
        width: 100%;
    }
}